@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    INTECOL<br />
    Calle 49 # 68 - 13<br />
    <abbr title="Phone">P:</abbr>
    3173716390
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:soporte@intecol.com.co">soporte@intecol.com.co</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>